// Import page-specific CSS files here.
$spacer: 8px;

body {
  background-color: white;
}

.banner {
  background-image: asset-url("main.jpg");
  background-size: cover;
  width: 100vw;
  height: 56vh;
}

#my-lists {
  width: 80%;
  margin: ($spacer * 4) auto;

  #my-lists-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .container-cards {
    margin: ($spacer * 2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    a {
      margin: $spacer;
    }
    .card-list {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 460px;
      height: 200px;
      background-color: #E9ECEF;
      font-size: 24px;
      font-weight: bold;
      border-radius: 4px;
      box-shadow: 0 10px 30px rgba(0,0,0,.1);
    }
  }

}

