// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

$spacer: 8px;

body {
  background-color: white;
}

.navbar {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacer;
  background-color: #CED4DA;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);

  i {
    font-size: 32px;
  }

  a {
    color: black;
  }
}

.banner {
  background-image: asset-url("main.jpg");
  background-size: cover;
  height: 80vh;
  
}

#my-list {
  width: 80%;
  margin: ($spacer * 4) auto;

  #my-list-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .container-cards {
    margin: ($spacer * 2);
    display: flex;
    align-items: center;
    justify-content: space-around;

    .card-list {
      width: 320px;
      height: 180px;
      background-color: #E9ECEF;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      line-height: 180px;
      border-radius: 4px;
      box-shadow: 0 10px 30px rgba(0,0,0,.1);
    }
  }

}
